/* Cosas chulis y bonitas por Solo 06/09/2024 */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px red; */
}
#container{
    /* border: solid 1px green; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 98vh;
}

#inicio{
     display: flex; /*flex  VALOR DE INICIO PARA QUE FUNCIONE!!!*/
    position: relative;
    /* border: solid 1px green; */
    width: 1100px;
    height: 750px;
    background-image: url("../images/Inicio_provisional.jpg");
    background-size: cover;
}

#enter-name{
    font-family: "Press Start 2P";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 240px;
    /* border: solid 1px rgb(55, 0, 117); */
    padding: 30px;
    position: absolute;
    bottom: 0;
    font-size: 1.8rem;
    color:  rgb(76, 75, 141);
    font-weight: 50;
}

#enter-name input{
    font-family: "Press Start 2P";
    border: none;
    text-align: center;
    color: rgb(77, 47, 133);
    height: 45px;
    width: 350px;
    border-bottom: 3px solid rgb(76, 75, 141);
    border-right: 1px solid rgb(76, 75, 141);
    /* border-left: 1px solid rgb(76, 75, 141); */
    border-radius: 4px;
}

#enter-name button{
    font-size: 1.3rem;
    font-family: "Press Start 2P";
    border: solid 2px  rgb(119, 121, 172);
    background-color:  rgb(76, 75, 141);
    text-align: center;
    color: rgb(119, 121, 172);
    height: 65px;
    width: 350px;
    border-radius: 7px;

}

#enter-name input:focus{
    font-family: "Press Start 2P";
    border: rgb(76, 75, 141) 2px solid;
    outline: none;
 

}

#enter-name button:hover{
    border: solid 4px  rgb(119, 121, 172);
    background-color:  rgb(50, 49, 107);
    color: rgb(119, 121, 172);
    font-size: 1.4rem;
}

#ranking{
    display: none;
    position: relative;
    border: solid 3px rgb(223 114 155);
    width: 1100px;
    height: 750px;
    /* background-image: url("../sketches/Ranking.jpg"); */
    background-size: cover;
    border-radius: 15px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

#ranking h1{
    font-family: Montserrat;
    color: rgb(151 59 84);
    font-variant: small-caps;
    font-size: 4.5rem;
    font-style: italic;
    font-weight: 900;
}

.puntuaciones{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.score-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Press Start 2P";
    height: 80px;
    color: rgb(223 114 155);
    font-size: .8rem;
}

.puntos{
    font-size: 2.8rem;;
    font-weight: 900;
    color: rgb(151 59 84);
}

.half-bottom{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* border: solid 1px black; */
}
.ranking{
    display: flex;
    flex-direction: column;
    background-color: rgb(223 114 155);
    /* width: 250px; */
    padding: 20px 10px;
    font-family: Montserrat;
    font-style: italic;
    border-radius: 10px;
    border: solid 3px rgb(151 59 84);
    color: rgb(151 59 84);
    font-size: .8rem;
    
    
}

.puntuacion{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-family: "Press Start 2P";
    
}

.puntuacion p{
    margin-left: 10px;
}

.ranking h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: white;
}

.half-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score{
    border-radius: 10px;
    border: solid 3px rgb(151 59 84);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-family: "Press Start 2P";
    padding:15px;
    padding-left: 90px;
    margin-bottom: 20px;
}

.score h2{
    color: rgb(223 114 155);
    margin-top: 15px;
    text-shadow: 1px 1px 1px yellow;
}

.linea-score{
    display: flex;
    margin-bottom: 10px;
    color: rgb(151 59 84);
}

#ranking button{
    font-size: 1.3rem;
    font-family: "Press Start 2P";
    border: solid 4px  rgb(151 59 84);
    background-color:  rgb(223 114 155);
    text-align: center;
    color: rgb(151 59 84);
    height: 65px;
    width: 350px;
    border-radius: 7px;
    /* position: absolute; */
    bottom: 45px;
    right: 50px;
}

#ranking button:hover{
    border: solid 5px rgb(151 59 84);
    /* background-color:  rgb(50, 49, 107); */
    text-shadow: 1px 1px 2px rgba(242, 255, 60, 0.877);
    font-size: 1.4rem;
}

/*
Rosa oscuro 151 59 84
Rosa claro 223 114 155
 */


 #game{
    display: none; /* none VALOR DE INICIO PARA QUE FUNCIONE*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* border: solid 1px green; */
    width: 1100px;
    height: 750px;
}

#datos{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 850px;
    /* border: solid 1px rgb(0, 26, 255); */
    height: 120px;
    border-radius: 15px;
    
}

#game-board{
    position: relative;
    width: 850px;
    height: 550px;
    border: solid 3px rgb(0, 0, 0);
    border-radius: 15px;
    background-color: green;
    overflow: hidden;
}

#crono{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Press Start 2P";
    font-size: 2rem;
    color: rgb(151 59 84);
}

.panel{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(151 59 84);
    width: 100px;
    height: 100px;
    font-family: "Press Start 2P";
    color: white;
    font-size: 2.5rem;
    border-radius: 8px;
    border-bottom: solid 5px rgb(116, 16, 43);
    border-right: solid 5px rgb(116, 16, 43);
    padding: 14px 5px 0px; 
}

#info{
    display: flex;
    width: 470px;
    justify-content: space-between;
}

.info-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223 114 155);
    color: white;
    font-family: "Press Start 2P";
    height: 25px;
    border-radius: 5px;
    padding: 10px;
    font-size: .9em;
    border-bottom: solid 3px rgb(214, 61, 102);

}

.info-panel span{
    color: rgb(151 59 84);
}

#game-over{
    position: absolute;
    display: flex; /*flex VALOR DE INICIO PARA QUE FUNCIONE*/
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.781);
    margin-top: 18px;
}

.over {
    visibility: hidden;   /*hidden VALOR DE INICIO PARA QUE FUNCIONE*/
}

.show{
    visibility: visible;
    -webkit-animation: fadein 0.6s, fadeout 0.9s 4s;
    animation: fadein 0.6s, fadeout 0.9s 4s;
}

.show2{
    visibility: visible;
    -webkit-animation: fadein 0.6s;
    animation: fadein 0.6s;
}

@-webkit-keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  @keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  
  @-webkit-keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
  }
  
  @keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
  }

  .letrasGO{
    background-image: url("../images/GameOver.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 60%;
    width: 850px;
    /* border: solid 1px green; */
    margin: auto;
  }

  #next-level{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.781);
    margin-top: 18px;
    /* border: solid 1px green; */
    /* bottom: 0; */

}
.letrasNL{
    height: 75%;
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 2px greenyellow; */
  }
  .imagenNL{
    background-image: url("../images/NextLevel.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    width: 600px;
    height: 70%;
    /* border: solid 1px green; */

  }

  .container-boton-NL{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 2px lightgreen; */
    width: 650px;
  }

  #next-level .p1{
    width: 650px;
    height: 70px;
    font-family: "Press Start 2P";
    font-size: 1.2rem;;
    border: solid 3px rgb(196, 35, 78);
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    background-color: rgb(214, 61, 102);
    color: white;
    border-radius: 15px;
  }
  #next-level .p2{
    /* width: 650px;
    height: 70px; */
    font-family: "Press Start 2P";
    font-size: 1.2rem;
    border: solid 3px rgb(196, 35, 78);
    text-align: center;
    margin: auto;
    padding: 5px 30px;
    background-color: rgb(214, 61, 102);
    color: white;
    border-radius: 10px;
  }

  #next-level-button{
    font-family: "Press Start 2P";
    font-size: 1.2rem;
    padding: 10px 30px;
    background-color: white;
    border: solid 3px rgb(196, 35, 78);
    color: rgb(196, 35, 78);
    border-radius: 10px;
  }

  #next-level-button:hover{
    font-size: 1.25rem;
    background-color: rgb(196, 35, 78);
    border: solid 3px white;
    color: white;
    text-shadow: 1px 1px 1px black;
  }